<div class="wrapper">
    <div class="profile-background">
        <div class="filter-black"><h3>Equipment Schedule</h3></div>
    </div>
    <div class="profile-content section-nude content-container">
        <div class="container">
            <div id="app_projects" class="row owner">
                <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-left">
                    <div class="Equipment Schedule">
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
                    <table class="table2">
                        <tr>
                            <th>Equipment ID</th>
                            <th>Next 6 hrs</th>
                            <th>Project ID</th>
                            <th>Target ID</th>
                        </tr>
                        <tr v-for="sched in schedule">
                            <td>{{sched[0]}}</td>
                            <td>{{sched[1]}}</td>
                            <td>{{sched[2]}}</td>
                            <td>{{sched[3]}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    fetch('@Url.Action("GetEquipmentSchedule", "UserEquipments")')
        .then(function (response) {
            response.json().then(function (data) {
                app_projects._data.schedule = data;
                console.log(app_projects._data.schedule);
            });
        });

    var app_projects = new Vue({
        el: '#app_projects',
        data: {
            schedule: null,
        }
    });
</script>
