@using Microsoft.AspNetCore.Http;
@{
    var username = Context.Session.GetString("UserName");
}

<div class="wrapper">
    <div class="equipment-background">
        <div class="filter-black"></div>
    </div>
    <div class="profile-content section-nude">
        <div class="container">
            <div class="row owner">
                <!--<div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-left">-->
                <div class="Equipment Schedule">
                    <h4>UserName: @username<br /></h4>
                    <h5>Equipment Details<br /></h5>
                </div>
                <!--</div>-->
                <!--<div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-left">-->
                <div style="overflow-x:auto;">
                    <div id="app_user_equipments">
                        <table class="table2">
                            <tr>
                                <th>EID</th>
                                <th>Aperture</th>
                                <th>FoV</th>
                                <th>Pixel scale ("/pix)</th>
                                <th>Tracking accuracy</th>
                                <th>Limiting magnitude (mag)</th>
                                <th>Elevation limit (deg)</th>
                                <th>Mount type (german, fork, theodolite)</th>
                                <th>Camera type (colored, mono)</th>
                                <th>Camera type (cooled, uncooled)	</th>
                                <th>Johnson B</th>
                                <th>Johnson V</th>
                                <th>Johnson R</th>
                                <th>SDSS u</th>
                                <th>SDSS g</th>
                                <th>SDSS r</th>
                                <th>SDSS i</th>
                                <th>SDSS z</th>
                                <th>Site</th>
                                <th>Longtitude</th>
                                <th>Latitude</th>
                                <th>Altitude</th>
                                <th>Time_zone</th>
                                <th>Daylight_saving</th>
                                <th>Water_vapor</th>
                                <th>Light_pollution(m/sas)</th>
                            </tr>
                            <tr v-for="item in equipments">
                                <td>{{item.eid}}</td>
                                <td>{{item.aperture}}</td>
                                <td>{{item.foV}}</td>
                                <td>{{item.pixelScale}}</td>
                                <td>{{item.trackingAccuracy}}</td>
                                <td>{{item.limitingMagnitude}}</td>
                                <td>{{item.elevationLimit}}</td>
                                <td>{{item.mountType}}</td>
                                <td>{{item.cameraType_1}}</td>
                                <td>{{item.cameraType_2}}</td>
                                <td>{{item.johnson_B}}</td>
                                <td>{{item.johnson_V}}</td>
                                <td>{{item.johnson_R}}</td>
                                <td>{{item.sdsS_u}}</td>
                                <td>{{item.sdsS_g}}</td>
                                <td>{{item.sdsS_r}}</td>
                                <td>{{item.sdsS_i}}</td>
                                <td>{{item.sdsS_z}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-demo section-nude">
    <div class="container">
        <div class="copyright text-center">
            &copy; 2020 - Final_Project
        </div>
    </div>
</footer>

<script>
    fetch('@Url.Action("GetUserEquipments", "UserEquipments")')
        .then(function (response) {
            response.json().then(function (data) {
                app_user_equipments._data.equipments = data;
                console.log(app_user_equipments._data.equipments);
            });
        });
    var app_user_equipments = new Vue({
        el: '#app_user_equipments',
        data: {
            equipments: null
        }
    });
</script>