.landing-alert {
  margin-bottom: 0; }

.landing-header {
  background-size: cover;
  min-height: 570px; }

.landing-header .motto {
  padding-top: 8%;
  text-align: left;
  z-index: 3; }

.landing-section {
  padding: 100px 0; }

.landing-section .btn-simple {
  padding: 0; }

.landing-section .column {
  padding: 0 75px 0 25px; }

.team-player .img-circle, .team-player .img-thumbnail {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 120px; }

.contact-form {
  margin-top: 30px; }

.contact-form label {
  margin-top: 15px; }

.contact-form .btn {
  margin-top: 30px; }

.navbar-relative {
  position: relative;
  z-index: 2; }

#register-navbar a {
  color: #FFF; }

.register-background {
  background-image: url("../paper_img/nebula.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%; }

.register-background .filter-black::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

    .stars-background .filter-black::after {
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

.register-background .container {
  margin-top: 11%;
  position: relative;
  z-index: 3; }

.register-footer {
  bottom: 20px;
  color: #fff;
  position: absolute;
  z-index: 3;
  width: 100%; }

.register-footer .fa-heart {
  color: #EB5E28; }

.register-card {
  background-color: rgba(255,251,255,0.7);
  border-radius: 8px;
  color: ##fffcf5;
  max-width: 350px;
  margin: 20px 0 70px;
  min-height: 400px;
  padding: 30px; }

.register-card label {
  margin-top: 15px; }

.register-card .title {
  color: #eb5e28;
  text-align: center; }

.register-card .btn {
  margin-top: 30px; }

.register-card .forgot {
  text-align: center; }

  
  .equipment-background {
  background-image: url("../paper_img/equipment.jpg");
  background-position: center center;
  background-size: cover;
  height: 300px;
  position: relative;
  margin-top: -110px; }
  
  .project-background {
  background-image: url("../paper_img/project.jpg");
  background-position: center center;
  background-size: cover;
  height: 300px;
  position: relative;
  margin-top: -110px; }

.profile-background {
    background-image: url("../paper_img/star_gaze.jpg");
    background-position: center center;
    background-size: cover;
    height: 350px;
    position: relative;
    /*margin-top: -110px;*/
}
.profile-background .filter-black::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

    .profile-background h3 {
        position: absolute;
        bottom: 100px;
        width: 100%;
        color: #f2f2f2;
        z-index: 2;
        font-size: 3.3em;
        text-align:center;
    }

.content-container{
    margin-top: 25px;
}

.profile-content {
    position: relative;
}

.owner .avatar {
  margin-top: -85px;
  padding: 15px;
  position: relative;
  z-index: 3; }

.owner .name h4 {
  margin-top: 10px; }

.profile-tabs {
  margin: 50px 0;
  min-height: 300px; }

#following h3 {
  margin: 40px 0; }

.follows .unfollow {
  width: 15px; }

.follows hr {
  margin-top: 10px; }

.alert h5 {
  margin-bottom: 10px; }

.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
tr:nth-child(even) {
    background-color: #e2e2e2;
}
tr:nth-child(even):hover {
    background-color: #e1d4b86e;
}
tr:nth-child(odd) {
    background-color: #f5f5f5;
}

tr:nth-child(odd):hover {
        background-color: #e1d4b86e;
}
.table2 th {
    background-color: #f5f5f5;
    color: #66615b;
}
.stars-background {
    background-image: url("../paper_img/stars.jpg");
    background-position: center center;
    background-size: contain;
    height: 200px;
    position: relative;
    margin-top: -110px;
}