@using Final_Project.Models
@using Microsoft.AspNetCore.Http;
@{
    var uid = Context.Session.GetString("UID");
}
<div class="wrapper">
    <div class="profile-background">
        <div class="filter-black">
            <h3 class="text-center">Recommended Projects</h3>
        </div>
    </div>
    <div id="app_projects" class="container-fluid">
        <br />
        <br />
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="follows">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <template v-for="item in join_projects">
                            <div class="col-md-4 project-cards">
                                <div class="row card-inner">
                                    <div class="col-md-12 col-xs-12">
                                        <span class="label label-default">{{item.project_type}}</span>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <h4>{{item.title}}</h4>
                                        <!--<span class="label label-default">Compatibility Score</span>-->
                                        <small>Compatibility Score: <b>{{item.score}}</b></small>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <!--<span class="label label-default">Description</span><br />-->
                                        <br />
                                        <p>The project description is to {{item.description}}.</p>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="text-left text">
                                            <button v-on:click="ViewProject(item.pid)" class="btn btn-fill btn-primary btn-xs">View Project Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    fetch('@Url.Action("GetRecommendedProjects", "Projects", new { uid = uid })')
        .then(function (response) {
            response.json().then(function (data) {
                app_projects._data.join_projects = data;
                console.log(app_projects._data.join_projects);
            });
        });


    var app_projects = new Vue({
        el: '#app_projects',
        data: {
            join_projects: null,
            username: null
        },
        methods: {
            ViewProject: function (pid) {
                console.log(pid);
                location.href = '@Url.Action("Project", "Projects", new { pid = "PID" })'.replace("PID", pid);
            }
        }
    });
</script>
