@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Final_Project.Models
@model Final_Project.Models.Project
<div class="wrapper">
    <div class="profile-background">
        <div class="filter-black"><h3>Project Equipment</h3></div>
    </div>
    <div class="profile-content section-nude">
        <div class="container">
            <div id="app_projects" class="row owner">
                <div class="col-md-offset-2 col-md-8">
                    <div class="Equipment Schedule">
                        <h4>@Model.Title<br /></h4>
                        <h5>Equipments<br /></h5>
                    </div>
                    <template v-for="item in equipments">
                        <a data-toggle="collapse" :href="'#collapseExample-'+item.eid" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <div class="row">
                                <div class="col-md-9 col-xs-8">
                                    <h3>{{item.site}}</h3>
                                </div>
                                <div class="col-md-3 col-xs-4 text-right">
                                    <!--<button v-on:click="Edit(item.eid)" class="btn btn-fill btn-info btn-sm" style="margin-top:30px; margin-bottom:3px">Edit</button>-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="label label-default">Longtitude</span>
                                    <small>{{item.longitude}}</small>
                                    <span class="label label-default">Latitude</span>
                                    <small>{{item.latitude}}</small>
                                    <span class="label label-default">Altitude</span>
                                    <small>{{item.altitude}}</small>
                                    <span class="label label-default">Declination Limit</span>
                                    <small>{{item.altitude}}</small>
                                </div>
                            </div>
                        </a>
                        <div class="collapse" :id="'collapseExample-'+item.eid">
                            <div class="card card-body">
                                <hr />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6>Time_zone: {{item.timeZone}}</h6>
                                        <h6>Daylight_saving: {{item.daylightSaving}}</h6>
                                        <h6>Water_vapor: {{item.waterVapor}}</h6>
                                        <h6>Water_vapor: {{item.waterVapor}}</h6>
                                        <h6>Light_pollution(m/sas): {{item.waterVapor}}</h6>                                        <h6>Johnson B: {{item.johnson_B}}</h6>
                                        <h6>Johnson V: {{item.johnson_V}}</h6>
                                        <h6>Johnson R: {{item.johnson_R}}</h6>

                                        <h6>SDSS u: {{item.sdsS_u}}</h6>
                                        <h6>SDSS g: {{item.sdsS_g}}</h6>
                                        <h6>SDSS r: {{item.sdsS_r}}</h6>
                                        <h6>SDSS i: {{item.sdsS_i}}</h6>
                                        <h6>SDSS z: {{item.sdsS_z}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <h6>
                                            Aperture: {{item.aperture}}
                                        </h6>
                                        <h6>FoV: {{item.foV}}</h6>
                                        <h6>Pixel scale ("/pix): {{item.pixelScale}}</h6>
                                        <h6>Tracking accuracy: {{item.trackingAccuracy}}</h6>

                                        <h6>Limiting magnitude (mag): {{item.limitingMagnitude}}</h6>
                                        <h6>Elevation limit (deg): {{item.elevationLimit}}</h6>
                                        <h6>Mount type (german, fork, h6eodolite): {{item.mountType}}</h6>

                                        <h6>Camera type (colored, mono): {{item.cameraType_1}}</h6>
                                        <h6>Camera type (cooled, uncooled): {{item.cameraType_2}}</h6>
                                    </div>
                                    <div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </template>
                </div>
                
            </div>
        </div>
    </div>
</div>
<footer class="footer-demo section-nude">
    <div class="container">
        <div class="copyright text-center">
            &copy; 2020 - Final_Project
        </div>
    </div>
</footer>

<script>
    fetch('@Url.Action("GetProjectEquipmentSchedule", "Projects", new { pid = Model.PID })')
        .then(function (response) {
            response.json().then(function (data) {
                app_projects._data.equipments = data;
                console.log(app_projects._data.equipments);
            });
        });

    var app_projects = new Vue({
        el: '#app_projects',
        data: {
            equipments: null,
        }
    });
</script>
