@using Final_Project.Models
@using Microsoft.AspNetCore.Http;
@{
    var uid = Context.Session.GetString("UID");
}
<div class="wrapper">
    <div class="profile-background">
        <div class="filter-black">
            <h3 class="text-center">Your Projects</h3>
        </div>
    </div>
    <div id="app_projects">
        <div id="my-tab-content" class="tab-content content-container">
            <div class="tab-pane active" id="follows">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <ul class="list-unstyled follows">
                            <template v-for="item in join_projects">
                                <li>
                                    <div class="row">
                                        <h3>{{item.title}}</h3>
                                        <div class="col-md-9 col-xs-8">
                                            <span class="label label-default">Project Type</span>
                                            <small>{{item.project_type}}</small>
                                        </div>
                                        <div class="col-md-9 col-xs-8">
                                            <span class="label label-default">Description</span>
                                            <small>{{item.description}}</small>
                                        </div>
                                        <div class="col-md-3 col-xs-4">
                                            <div class="text-right text">
                                                <button v-on:click="Edit(item.pid)" class="btn btn-xs btn-info">Edit</button>
                                                <button v-on:click="ViewProject(item.pid)" class="btn btn-xs">View Project Detail</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <hr />
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    fetch('@Url.Action("GetYourProjects", "Projects", new { uid = uid})')
        .then(function (response) {
            response.json().then(function (data) {
                app_projects._data.join_projects = data;
                console.log(app_projects._data.join_projects);
            });
        });


    var app_projects = new Vue({
        el: '#app_projects',
        data: {
            join_projects: null,
            username: null
        },
        methods: {
            ViewProject: function (pid) {
                console.log(pid);
                location.href = '@Url.Action("Project", "Projects", new { pid = "PID" })'.replace("PID", pid);
            },
            Edit: function (pid) {
                location.href = '@Url.Action("Edit", "Projects", new { pid = "PID" })'.replace("PID", pid);
            }
        }
    });
</script>
