<div class="wrapper">
    <div class="profile-background">
        <div class="filter-black"></div>
    </div>
    <div id="app_projects">
        <template v-if="!IsLogin()">
            <h3 v-if="join_projects === null" class="text-center">Please login to get your projects details.</h3>
        </template>
        <template v-if="IsLogin()">
            <h3 v-if="join_projects.length === 0" class="text-center">You haven't joined any projects yet.</h3>
            <h4 v-else="join_projects.length === 0" class="text-center">Projects you have joined.</h4>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="follows">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <ul class="list-unstyled follows">
                                <template v-for="item in join_projects">
                                    <li>
                                        <div class="row">
                                            <h3>{{item.title}}</h3>
                                            <div class="col-md-7 col-xs-4">
                                                <span class="label label-default">{{item.project_type}}</span>
                                                <small>{{item.description}}</small>
                                            </div>
                                            <div class="col-md-3 col-xs-2">
                                                <div class="text-right text">
                                                    <button v-on:click="ViewProject(item.pid)" class="btn btn-xs">View Project Detail</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <hr />
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>

<script>
    fetch('@Url.Action("GetProjectsByUsername", "Projects")')
        .then(function (response) {
            response.json().then(function (data) {
                app_projects._data.join_projects = data;
                console.log(app_projects._data.join_projects);
            });
        });

    fetch('@Url.Action("GetUserName", "Home")')
        .then(function (response) {
            response.json().then(function (data) {
                console.log(data);
                app_projects._data.username = data;
                console.log(app_projects._data.username);
            });
        });

    var app_projects = new Vue({
        el: '#app_projects',
        data: {
            join_projects: null,
            username: null
        },
        methods: {
            ViewProject: function (pid) {
                console.log(pid);
                location.href = '@Url.Action("Project", "Projects", new { pid = "PID" })'.replace("PID", pid);
            },
            IsLogin: function () {
                var isLogin = this.username != null;
                console.log(isLogin);
                return isLogin;
            }
        }
    });
</script>
