<div class="wrapper">
    <div class="profile-background">
        <div class="filter-black"></div>
    </div>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="follows">

            your current projects
        </div>
    </div>
</div>
