<div class="wrapper">
    <div class="register-background">
        <div class="filter-black"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                    <div class="register-card">
                        <h3 class="title">Login</h3>
                        @using (Html.BeginForm("Login", "Home", new { ReturnUrl = Context.Request.Query["ReturnUrl"] }, FormMethod.Post, true, new { name = "myForm", autocomplete = "off" }))
                        {
                            <label>Account</label>
                            @Html.TextBox("Account", "", new { @class = "form-control" })
                            <label>Password</label>
                            @Html.Password("password", "", new { @class = "form-control" })
                            <div class="card-description form-group text-danger">
                                @ViewBag.errMsg
                            </div>
                            <button type="submit" class="btn btn-danger btn-block">Login</button>
                        }
                        <button class="btn btn-danger btn-block" onclick=toRegisterPage()>Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer register-footer text-center">
            <h6>&copy; 2020 - Final_Project</h6>
        </div>
    </div>
</div>
<script>
        function toRegisterPage() {
            window.location.href = '@Url.Action("Register", "User")';
        }
</script>
